---
import layout from '../../layouts/Layout.astro'
const posts = await Astro.glob('./posts/*.md');
import ardilla from '../../images/ardilla.jpg';
---

<layout>

<h1>
  Blog
</h1>
<img width="300"
  src={ardilla} alt="">
{
  posts.map( post => {
    return <a href={post.url}>{post.frontmatter.titulo}</a>;
  })
}

</layout>

<style>
  a{
    background-color: wheat;
    color: black;
    text-decoration: none;
    display: block;
    margin-bottom: 4px;
  }
</style>