---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h1>
    Acerca de mi web
  </h1>

  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perferendis nesciunt, non doloribus odio recusandae culpa, labore quo commodi nobis nulla quos similique? Voluptate est beatae quia sapiente exercitationem maiores saepe distinctio veritatis eius sed, vero repellat id aliquid. Iste ut maxime aperiam ad ab, illum repellendus cum assumenda eligendi distinctio.</p>
</Layout>