---
import Layout from "../layouts/Layout.astro";
import Button from "../components/ButtonSuscribe.jsx";
---
<Layout>
	<h1>
		Pagina inicial
	</h1>

	<p>
		Bienvenido a mi blog
	</p>
	<Button client:load />
</Layout>